*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --mainblue: #0065FC;
    --altLightBlue: #DEEBFF;
    --bgGray: #F2F2F2;
}

body{
    font-family: 'Raleway', sans-serif;
}


.wrap{
    display: flex;
    justify-content: center;
}


ul{
    list-style: none;
}

.booki_logo{
    width: 70px;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

header{
    width: 950px;
    height: 320px;
    margin-top: 50px;
}


.blue_line_hebergement, .blue_line_activite{
    height: 2px;
    width: 150px;
    background-color: var(--mainblue);
}

.blue_line_activite{
    visibility: hidden;
}

.hebergement_menu, .activite_menu{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 14px;
    font-weight: 300;
}

.hebergement_menu a{
    color: var(--mainblue);
}

.hebergement_menu:hover a{
    color: var(--mainblue);
}

.activite_menu:hover .blue_line_activite{
    visibility: visible;
}
.activite_menu:hover a{
    color: var(--mainblue);
}

h1{
    font-size: 20px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 5px;
}

form{
    margin-top: 12px;
    display: flex;
}

input[type=search]{
    width: 161px;
    height: 35px;
    border: solid 1px var(--bgGray);
    margin: 0 -5px;
    font-size: 10px;
    font-weight: 700;
    color: black;
    padding-left: 12px;
}

input[type=search]::placeholder{
    font-size: 12px;
    font-weight: 700;
    color: black;
}

button[type=submit]{
    height: 35px;
    width: 93px;
    background-color: var(--mainblue);
    border-radius: 0 15px 15px 0;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.loupe{
    display: none;
}

.location{
    height: 35px;
    width: 36px;
    background-color: var(--bgGray);
    border-radius: 15px 0 0 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.filters{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 21px 0;
}

.filters h3{
    font-size: 16px;
}

.filters ul {
    display: flex;
    gap: 20px;
}

.filters li{
    display: flex;
    align-items: center;
    border : solid 2px lightgray;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.filters li::before{
    content: "";
    background-color: var(--altLightBlue);
    position: absolute;
    height: 100%;
    width: 20%;
    transition: linear 200ms;
    border-radius: 50px;
    z-index: -1;
}

.filters li:hover::before {
    width: 100%;
    transition: linear 200ms; 
}


.filters li span{
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700;
}

.filters li i{
    background-color: var(--altLightBlue);
    height: 33px;
    width: 33px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainblue);
}

.information i{
    color: var(--mainblue);
    font-weight: 700;
    border: solid 2px var(--bgGray);
    width: 20px;
    height: 20px;
    border-radius: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.information{
    font-weight: 300;
    font-size: 12px;
}

main{
    width: 950px;
}

.hebergement{
    display: flex;
    align-items: center;
    gap: 30px;
}

.section_hebergement{
    background-color: var(--bgGray);
    width: 607px;
    height: 432px;
    border-radius: 15px;
    margin: 30px 0;
}

h2{
   font-size: 16px;
   margin: 30px 0 20px 35px;
}

.list_hebergement{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap :15px
}

.list_hebergement .card{
    height: 137px;
    width: 169px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 4px 10px -10px #000000;
}

.list_hebergement li a{
    height: 100%;
    width: 100%;
}

.list_hebergement li a img{
    width: 95%;
    height: 60%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
}

.list_hebergement h4{
   font-size: 12px;
   font-weight: 800;
   margin: 4px 0;
   margin-left: 10px;
}

.list_hebergement p{
    font-size: 10px;
    margin-left: 10px;
}

.list_hebergement p span{
    font-weight: 600;
}

.rating{
    display: flex;
    color: var(--mainblue);
    margin-left: 10px;
}

.card1 li:nth-child(5), 
.card3 li:nth-child(5), 
.card4 li:nth-child(4), 
.card4 li:nth-child(5), 
.card5 li:nth-child(5){
    color: lightgray;
}


.more{
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0 30px 38px;
}

.populaires{
    background-color: var(--bgGray);
    height: 432px;
    width: 290px;
    border-radius: 15px;
}


.populaires h2 span{
    margin-left: 60px ;
}

.populaires_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.populaires_card{
    background-color: white;
    height: 100px;
    width: 236px;
    border-radius: 15px;
    box-shadow: 5px 4px 10px -10px #000000;
}

.populaires_card a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}


.populaires_card img{
    width: 40%;
    height: 93%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    padding-left: 5px;
}

.description_card{
    height: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.description_card h4{
    font-size: 12px;
    margin-top: 10px;
}

.description_card p{
    font-size: 10px;
    margin-top: 5px;
}

.populaires_list span{
    font-weight: 600;
}

.rating_populaires{
    margin-top: 20px;
    display: flex;
    color: var(--mainblue);
}

.pcard2 li:nth-child(5),
.pcard3 li:nth-child(5){
    color: lightgray;
}




.activites_list{
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
}

.small_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites_card{
    background-color: white;
    height: 306px;
    width: 207px;
    border-radius: 15px;
    box-shadow: 1px 3px 15px -11px #000000;
}

.activites_card img{
    width: 100%;
    height: 88%;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
}

.activites h2{
    margin: 0 0 15px;
}

.activites h4{
    font-size: 12px;
    font-weight: 800;
    margin: 8px 10px;
}

.small_card{
    background-color: white;
    height: 114px;
    width: 207px;
    border-radius: 15px;
    box-shadow: 1px 3px 15px -11px #000000;
}

.small_card img{
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
    object-position: top;
}

.medium_card{
    background-color: white;
    height: 162px;
    width: 207px;
    border-radius: 15px;
    box-shadow: 1px 3px 15px -11px #000000;
}

.medium_card img{
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
}

footer{
    background-color: var(--bgGray);
    height: 150px;
    display: flex;
    align-items: center;
    gap: 190px;
}
footer h3{
    font-size: 12px;
    margin-bottom: 20px;
}

footer ul{
    display: flex;
    flex-direction: column;
    gap : 8px
}

footer li{
    font-size: 11px;
    font-weight: 500;
}

.bg_footer{
    background-color: var(--bgGray);
    height: 150px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}

@media (max-width: 992px){

    main{
        width: 705px;
    }

    .container{
        width: 705px;
    }

    header{
        width: 705px;
        position: static;
    }

    .hebergement_menu, .activite_menu, .blue_line_hebergement, .blue_line_activite{
        width: clamp(100px, 14vw, 150px)
    }


    .filters ul {
        gap: 15px;
    }

    .hebergement{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 705px;
    }

    .populaires{
        height: 200px;
        width: 705px;
        margin-top: 20px;
    }

    .populaires_list{
        flex-direction: row;
    }

    .populaires_card{
        height: 100px;
        width: 200px;
    }

    .populaires_card a{
        gap: 10px;
    }

    .description_card h4{
        font-size: 10px;
        margin-top: 10px;
    }

    .populaires h2 span{
        margin-left: 30px ;
    }

    .section_hebergement{
        width: 705px;
        margin: 30px 0;
    }

    .list_hebergement{
        gap :20px
    }

    .list_hebergement .card{
        height: 137px;
        width: 200px;
    }

    .section_hebergement{
        margin: 0 0;
    }

    .activites{
        width: 705px;
        margin-top: 40px;
    }

    .activites_list{
        flex-wrap: wrap;
    }

    #parc{
        order: 1;
    }

    .activites_card, .small_card, .medium_card{
        width: 336px;
    }

    .small_card img{
        object-position: 25% 25%;
    }

    footer{
        justify-content: space-between;
        gap: 140px;
    }

}

@media (max-width: 768px){

    .container{
        width: 100%;
    }

    header{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
        height: fit-content;
    }

    .booki_logo{
        width: 100px;
        margin-bottom: 30px;
        align-self: center;
    }

    nav{
        position: static;
        width: 100%;
    }

    .hebergement_menu, .activite_menu{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    nav a{
        order: 1;
        font-size: 16px;
        font-weight: 600;
    }

    .blue_line_hebergement, .blue_line_activite{
        order: 2;
        width: 100%;
    }

    .blue_line_activite{
        background-color: var(--bgGray);
        visibility: visible;
    }

    .blue_line_activite:hover{
        background-color: var(--mainblue);
    }

    .container_header{
        width: 90%;
        margin: 0 auto;
    }

    h1{
        font-size: 23px;
        width: 95%;
        margin-bottom: 15px;
    }

    form{
        margin-top: 40px;
    }

    .location{
        width: 55px;
        height: 50px;
    }

    input[type=search]{
        width: 240px;
        height: 50px;
    }

    #rechercher{
        display: none;
    }
    
    .loupe{
        display: block;
    }

    button[type=submit]{
        height: 50px;
        width: 50px;
        border-radius: 15px;
    }

    input[type=search]::placeholder{
        font-size: 18px;
    }

    .filters{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .filters ul{
        flex-wrap: wrap;
    }

    .filters li i{
        height: 50px;
        width: 50px;
    }

    .fa-child-reaching, .fa-money-bill-wave, .fa-heart, .fa-dog{
        font-size: 20px;
    }

    .filters li span{
        padding: 0 20px;
        font-size: 16px;
    }

    .information i{
        width: 30px;
        height: 30px;
        font-size: 14px;
        
    }

    .information{
        font-weight: 500;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    main{
        width: 100%;
    }

    .populaires{
        height: 580px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires_list{
        flex-direction: column;
    }

    h2{
        font-size: 20px;
        font-weight: 800;
    }

    .populaires h2 span{
        margin-left: 126px;
        font-size: 24px;
    }

    .populaires h2{
        position: relative;
        left: -9px;
    }

    .populaires_card{
        width: 335px;
        height: 145px;
    }

    .description_card{
        margin-left: 10px;
    }

    .description_card h4{
        font-size: 16px;
        margin-top: 20px;
    }

    .description_card p{
        font-size: 14px;
        margin-top: 8px;
    }

    .rating_populaires{
        font-size: 20px;
        margin-top: 33px;
    }

    .hebergement{
        width: 100%;
    }

    .hebergement h2{
        margin-left: 20px;
    }

    .section_hebergement{
        width: 375px;
        background-color: white;
        height: fit-content;
    }

    .list_hebergement .card{
        width: 335px;
        height: 200px;
    }

    .list_hebergement h4{
        font-size: 16px;
        font-weight: 800;
    }

    .list_hebergement p{
        font-size: 14px;
    }

    .rating{
        font-size: 20px;
        margin-top: 5px;
    }

    .more{
        font-size: 16px;
        font-weight: 700;
        margin-left: 20px;
    }

    .activites{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activites h2{
        margin-left: -140px;
    }

    .activites_list{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .activites_card, .small_card, .medium_card{
        height: 190px;
        width: 335px;
    }

    .small_section{
        gap: 30px;
    }

    .activites_list img{
        height: 134px;
    }

    .activites h4{
        font-size: 14px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .bg_footer{
        height: 485px;
        width: 100%;
    }

    footer{
        width: 375px;
        height: 485px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
    }

    footer > *{
        margin-left: 20px;
    }

    footer h3{
        font-size: 15px;
        font-weight: 700;
    }

    footer li{
        font-size: 12px;
    }

}

